<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update Donor</h3>
  
      <div class="form-group">
        <label for="title">Donor title:</label>
        <input type="text" [(ngModel)]="donorData.title" class="form-control" placeholder="title">
        <label for="snippet">Course Name:</label>
        <input type="text" [(ngModel)]="donorData.snippet" class="form-control" placeholder="course">
        <label for="body">Your donor:</label>
        <input type="text" [(ngModel)]="donorData.body" class="form-control" placeholder="body">
  
        <button (click)="updateDonor()">Update Donor</button>
      </div>
      
    </div>
  </div>
  