<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update Enquiry</h3>
  
      <div class="form-group">
        <label for="title">Enquiry title:</label>
        <input type="text" [(ngModel)]="enquiryData.title" class="form-control" placeholder="title">
        <label for="snippet">Course Name:</label>
        <input type="text" [(ngModel)]="enquiryData.snippet" class="form-control" placeholder="course">
        <label for="body">Your Enquiry:</label>
        <input type="text" [(ngModel)]="enquiryData.body" class="form-control" placeholder="body">
  
        <button (click)="updateEnquiry()">Update Enquiry</button>
      </div>
      
    </div>
  </div>
  