<div id="app">
  <nav>
    <div class="site-title">
      <a href="#" ><h2>Blood Bank Management System</h2></a>
      <ul routerLinkActive="active">
        <li>
          <a href="/donor-list" routerLink="donor-list">Enquires </a>
        </li>
        <li>
          <a href="/create-donor" routerLink="create-donor">Add New Donor </a>
        </li>
      </ul>
    </div>
    <ul *ngIf="!isLoggedIn">
      <li>
        <a href="/register" routerLink="register">Sign Up</a>
      </li>
      <li>
        <a href="/login" routerLink="login">Login</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn">
      <li>
        Welcome, {{ username }}
      </li>
      <li >
        <a href (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>



