<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">New Donor</h3>
      
      <div class="form-group">
        <label for="bloodGroup">Blood Group:</label>
        <input type="text" [(ngModel)]="donorDetails.bloodGroup" class="form-control" placeholder="bloodGroup" required>  
  
        <label for="name">Donor Name:</label>
        <input type="text" [(ngModel)]="donorDetails.name" class="form-control" placeholder="Name" required>
  
        <label for="address">Address:</label>
        <input type="text" [(ngModel)]="donorDetails.address" class="form-control" placeholder="Address" required>

        <label for="email">Email:</label>
        <input type="text" [(ngModel)]="donorDetails.email" class="form-control" placeholder="email" required>
  
        <button (click)="addDonor()">Create Donor</button>
      </div>
  
    </div>
  </div>