<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">New Donor</h3>
      
      <div class="form-group">
        <label for="title">Donor title:</label>
        <input type="text" [(ngModel)]="donorDetails.title" class="form-control" placeholder="Title" required>  
  
        <label for="snippet">Course Name:</label>
        <input type="text" [(ngModel)]="donorDetails.snippet" class="form-control" placeholder="Course Name" required>
  
        <label for="body">Your Donor:</label>
        <input type="text" [(ngModel)]="donorDetails.body" class="form-control" placeholder="donor" required>
  
        <button (click)="addDonor()">Create Donor</button>
      </div>
  
    </div>
  </div>