<div class="container custom-container-2">

    <!-- Show it when there is no enquiry -->
    <div class="no-data text-center" *ngIf="Enquiry.length == 0">
      <p>There is no Enquiry added yet!</p>
      <button routerLink="/create-enquiry">Add Enquiry</button>
    </div>
  
    <!-- Enquirys list table, it hides when there is no Enquiry -->
    <div *ngIf="Enquiry.length !== 0">
      <h3 class="mb-3 text-center">Enquiries</h3>

      <form class="search">
        <input [(ngModel)]="searchText" placeholder="Search.." name="searchText" class="form-control mb-4">
      </form>

      <div class="col-md-12">
        <table id="location-table" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Title</th>
              <th scope="col">Course Name</th>
              <th scope="col">Enquiry</th>
              <ng-container *ngIf="role === 'admin'">
                <th scope="col">Email</th>
                <th scope="col" colspan="2">Action</th>
              </ng-container>
            </tr>
          </thead>
          <tbody id='myTable'>
            <tr *ngFor="let enquiry of Enquiry | filter: {title: searchText, snippet:searchText, body: searchText, raisedby: searchText}; let i = index">
              <ng-container *ngIf="role === 'admin' || enquiry.raisedby === email">
                <td>{{i+1}}</td>
                <td>{{enquiry.title}}</td>
                <td>{{enquiry.snippet}}</td>
                <td>{{enquiry.body}}</td>
                <ng-container *ngIf="role === 'admin'">
                  <td>{{enquiry.raisedby}}</td>
                  <td>
                    <span class="edit" routerLink="/enquiry-edit/{{enquiry._id}}">Edit</span>
                  </td>
                  <td>
                    <span class="delete" (click)="deleteEnquiry(enquiry._id)">Delete</span>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>